<p>Lista Dispositivos</p>
<ul>
  <li *ngFor="let dispositivo of dispositivos" appResaltar>
    <strong>{{ dispositivo.nombre }}</strong>: {{ dispositivo.descripcion | resumenTexto }}
    <div style="display: flex; justify-content: space-between;">
      <!-- Botón detalle -->
     <button style="margin-top: 8px; background-color: green; color: white;" (click)="seleccionarDispositivo(dispositivo)">Ver detalles</button>
     <!-- Botón para eliminar el dispositivo que se seleeciona -->
      <button style="margin-top: 8px; background-color: red; color: white;" (click)="eliminarDispositivo(dispositivo)">Eliminar</button>
    </div>
  </li>
</ul>

<!-- Mostrardispotivo seleecionado  -->
<app-detalle-dispositivo *ngIf="dispositivoSeleccionado" [dispositivo]="dispositivoSeleccionado"></app-detalle-dispositivo>
